body {
    display: flex;
    margin: auto;
    width: 100%;
    background-image: url(../img/EGS_GenshinImpact_miHoYoLimited_S1_2560x1440-91c6cd7312cc2647c3ebccca10f30399.jpg);
    background-size: cover;
}

.container {
    display: flex;
    margin: auto;
    width: 40%;
}

.box {
    display: flex;
    margin: auto;
    width: 500px;
    height: 350px;
    box-shadow: 1ch;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    border-radius: 20px;
    position: absolute;
    border: solid;
    border-color: aliceblue;
}

.input-baixo {
    display: flex;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    flex-direction:row;
}
.input-cima{
    display: flex;
    margin: auto;
    position: absolute;
    flex-direction:row;
    margin-top: -200px;
}

.input-embaixo {
    display: flex;
    margin: auto;
    position: absolute;
    flex-direction: row;
}

.input-maisembaixo {
    display: flex;
    margin: auto;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
}

.input {
    display: flex;
    margin: auto;
    font-size: 14px;
    box-shadow: 3px;
    border-radius: 4px;
}

.label {
    color: #a3f7f0;
    padding: 2px;
}

.text1 {
    display: flex;
    margin: auto;
    position: absolute;
    color: #a3f7f0;
    margin-top: -300px;
    margin-right: 290px;
    width: 200px;
}

.box-b {
    display: flex;
    margin: auto;
    position: absolute;
    margin-top: 200px;
    margin-right: -25px;
}

.login {
    display: flex;
    margin: auto;
    position: absolute;
    margin-top: 300px;
    margin-right: -25px;
}

.button {
    display: flex;
    width: 200px;
    height: 40px;
    border-radius: 14px;
    position: relative;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    border: 0px;
    background: cover;
    font-size: 16px;
}